<section class="content-header"></section> 
<section class="content"> 
    <div class="row"> 
        <div class="col-md-12"> 
            <div class="box"> 
                <div class="box-body"> 
                    <dashboard-content/> 
                </div> 
            </div> 
        </div> 
    </div> 
</section>